body {
    font-family: Arial, Helvetica, sans-serif;
    background:#121212;
    color:#f0f0f0;
    text-align: center;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    min-height:100vh;
}

.container{
    padding:20px;
    max-width:600px;
    width:90%;
}

h1{
    font-size:2em;
    color: #00ffcc;
}

button{
    background:#00ffcc;
    color:#121212;
    border:none;
    padding:12px 25px;
    font-size:1.2em;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition:0.3s;
    width:100%;
    max-width:250px;
}
button:hover{
    background: #00cc99;
}

#commandText {
    color:#00ffcc;
    display:block;
    margin-top:15px;
    font-size:1.1em;
}

#status {
    color:#00ff66;
    font-weight:bold;
    display:block;
    margin-top:10px;
    font-size:1em;
}

@media (max-width : 600px){
    h1 {
        font-size:1.5em;
    }
    button{
        font-size:1em;
        padding:10px 20px;
    }
}